<launch>
  <node pkg="LMS1xx" type="LMS100" name="LMS1xx">
    <param name="host" value="160.78.28.127" />
   </node>
  <node pkg="p2os_driver" type="p2os" name="p2os">
    <param name="port" value="/dev/ttyUSB0">
  </node>
  <node pkg="gripper_driver" type="gripper" name="my_gripper" />
  <node pkg="p2os_dashboard" type="p2os_dashboard" name="p2os_dashboard" />
  <!-- <node pkg="pteam_p2os" type="pteam_p2os" name="pteam_p2os" >
    <param name="scan_topic" value="/scan" />
    <param name="cmd_vel_topic" value="/cmd_vel" />
   </node> -->
  <node pkg="pteam_p2os" type="sensing_node" name="sensing_node" >
    <param name="scan_topic" value="/scan" />
    <param name="processed_ls_topic" value="/robot_0/processed_ls" />
    <param name="odom_topic" value="/robot_0/odom" />
    <param name="clamp_angle_degree" value="90.0" />
  </node>
  <node pkg="pteam_p2os" type="behaviors_node" name="behaviors_node" >
    <param name="processed_ls_topic" value="/robot_0/processed_ls" />
    <param name="robot_control_service" value="/robot_0/robot_control_service" />
    <param name="CA_alpha" value="0.01" />
    <param name="CA_threshold" value="0.3" />
    <param name="SITM_threshold" value="0.2" />
    <param name="SITM_valley_threshold" value="50" /> 
    <param name="SITM_alpha" value="2.0" /> 
    <param name="SITM_learning_rate" value="0.9" /> 
    <param name="SITM_nl_n" value="1" /> 
  </node>
  <node pkg="pteam_p2os" type="control_node" name="control_node" >
    <param name="robot_control_service" value="/robot_0/robot_control_service" />
    <param name="robot_control_topic" value="/cmd_vel" />
  </node>
  <!-- <node pkg="pteam_p2os" type="debug_node" name="debug_node" >
    <param name="processed_ls_topic" value="/robot_0/processed_ls" />
    <param name="scan_topic" value="/scan" />
  </node> -->
</launch>
